@import "../../styles/helpers/utils";

.header {
  padding: 10px 0;
  background-color: $black;
  color: $white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 15px 0 0;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: $white;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__logo {
    font-size: 30px;
    line-height: 36px;
    color: $white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}